Configuration de la base de données

In [1]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:kaoutar2002@localhost:5432/restaurant_db')

Creation des Tables

Données à insérer

In [3]:
from sqlalchemy import MetaData, Table, String, Float, Column, Integer, ForeignKey, TIMESTAMP, CheckConstraint

meta = MetaData()

categories = Table(
    "categories",
    meta,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False)
)

clients = Table(
    "clients",
    meta,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False),
    Column("email", String, nullable=False),
    Column("telephone", String)
)

fournisseurs = Table(
    "fournisseurs",
    meta,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False),
    Column("contact", String, nullable=False)
)

plats = Table(
    "plats",
    meta,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False),
    Column("prix", Float, nullable=False),
    Column("description", String, nullable=False),
    Column("categorie_id", Integer, ForeignKey("categories.id"))
)

commandes = Table(
    "commandes",
    meta,
    Column("id", Integer, primary_key=True),
    Column("date_commande", TIMESTAMP, nullable=False),
    Column("total", Float, nullable=False),
    Column("client_id", Integer, ForeignKey("clients.id"))
)

ingredients = Table(
    "ingredients",
    meta,
    Column("id", Integer, primary_key=True),
    Column("nom", String, nullable=False),
    Column("cout_unitaire", Float, nullable=False),
    Column("stock", Float, nullable=False),
    Column("fournisseur_id", Integer, ForeignKey("fournisseurs.id"))
)

commande_plats = Table(
    "commande_plats",
    meta,
    Column("plat_id", Integer, ForeignKey("plats.id"), primary_key=True),
    Column("commande_id", Integer, ForeignKey("commandes.id"), primary_key=True),
    Column("quantite", Integer, nullable=False)
     )

plat_ingredients = Table(
    "plat_ingredients",
    meta,
    Column("plat_id", Integer, ForeignKey("plats.id"), primary_key=True),
    Column("ingredient_id", Integer, ForeignKey("ingredients.id"), primary_key=True),
    Column("quantite_necessaire", Float, nullable=False)
)

avis = Table(
    "avis",
    meta,
    Column("id", Integer, primary_key=True),
    Column("plat_id", Integer, ForeignKey("plats.id")),
    Column("client_id", Integer, ForeignKey("clients.id")),
    Column("date_avis", TIMESTAMP, nullable=False),
    Column("commentaire", String),
    Column("note", Integer, nullable=False),
    CheckConstraint("note >= 1 AND note <= 5", name="note_between_1_and_5")
)

In [4]:
# meta.drop_all(engine)  
meta.create_all(engine) 
conn = engine.connect()

In [5]:

insert_categories = categories.insert().values([
    {'id' : 1 , 'nom' : 'Entrée'},
    {'id' : 2 , 'nom' : 'Plat principal'},
    {'id' : 3 , 'nom' : 'Dessert'},
    {'id' : 4 , 'nom' : 'Boisson'},
    {'id' : 5 , 'nom' : 'Végétarien'},
])

insert_plats = plats.insert().values([
    {'id' : 1 , 'nom' : 'Salade César' , 'prix' : 45.00 , 'description': 'Salade avec poulet grillé' , 'categorie_id': 1 },
    {'id' : 2 , 'nom' : 'Soupe de légumes' , 'prix' : 30.00 , 'description': 'Soupe chaude de saison' , 'categorie_id': 1 },
    {'id' : 3 , 'nom' : 'Steak frites' , 'prix' : 90.00 , 'description': 'Viande grillée et frites' , 'categorie_id': 1 },
    {'id' : 4 , 'nom' : 'Pizza Margherita' , 'prix' : 70.00 , 'description': 'Pizza tomate & mozzarella' , 'categorie_id': 1 },
    {'id' : 5 , 'nom' : 'Tiramisu' , 'prix' : 35.00	 , 'description': 'Dessert italien' , 'categorie_id': 1 },
    {'id' : 6 , 'nom' : 'Glace 2 boules' , 'prix' : 25.00 , 'description': 'Glace au choix' , 'categorie_id': 1 },
    {'id' : 7 , 'nom' : 'Coca-Cola' , 'prix' : 15.00 , 'description': 'Boisson gazeuse' , 'categorie_id': 1 },
    {'id' : 8 , 'nom' : 'Eau minérale' , 'prix' : 10.00 , 'description': 'Eau plate ou gazeuse' , 'categorie_id': 1 },
    {'id' : 9 , 'nom' : 'Curry de légumes' , 'prix' : 65.00 , 'description': 'Plat végétarien épicé' , 'categorie_id': 1 },
    {'id' : 10 , 'nom' : 'Falafel wrap' , 'prix' : 50.00	 , 'description': 'Wrap avec falafels et légumes' , 'categorie_id': 1 },

])

insert_clients = clients.insert().values([
    {'id' : 1 , 'nom' : 'Amine Lahmidi' , 'email' : 'amine@example.com' , 'telephone' : '+212600123456'},
    {'id' : 2 , 'nom' : 'Sara Benali' , 'email' : 'sara.b@example.com' , 'telephone' :'+212600654321' },
    {'id' : 3 , 'nom' : 'Youssef El Khalfi' , 'email' : 'youssef.k@example.com', 'telephone': None},
    {'id' : 4 , 'nom' : 'Fatima Zahra' , 'email' : 'fatima.z@example.com', 'telephone' : '+212600987654' },
    {'id' : 5 , 'nom' : 'Omar Alaoui' , 'email' : 'omar.a@example.com' , 'telephone' : '+212600112233'},
])

insert_commandes = commandes.insert().values([
    {'id': 1, 'client_id': 1, 'date_commande': '2025-07-07 12:30:00', 'total': 120.00},
    {'id': 2, 'client_id': 2, 'date_commande': '2025-07-07 13:00:00', 'total': 85.00},
    {'id': 3, 'client_id': 1, 'date_commande': '2025-07-08 19:45:00', 'total': 150.00},
    {'id': 4, 'client_id': 3, 'date_commande': '2025-08-15 18:30:00', 'total': 200.00},
    {'id': 5, 'client_id': 4, 'date_commande': '2025-09-01 20:00:00', 'total': 95.00},
    {'id': 6, 'client_id': 5, 'date_commande': '2025-09-10 12:15:00', 'total': 75.00},
])

insert_commande_plats = commande_plats.insert().values([
    {'commande_id': 1, 'plat_id': 1, 'quantite': 1},
    {'commande_id': 1, 'plat_id': 3, 'quantite': 1},
    {'commande_id': 1, 'plat_id': 7, 'quantite': 2},
    {'commande_id': 2, 'plat_id': 2, 'quantite': 1},
    {'commande_id': 2, 'plat_id': 4, 'quantite': 1},
    {'commande_id': 2, 'plat_id': 8, 'quantite': 1},
    {'commande_id': 3, 'plat_id': 3, 'quantite': 1},
    {'commande_id': 3, 'plat_id': 5, 'quantite': 1},
    {'commande_id': 3, 'plat_id': 7, 'quantite': 1},
    {'commande_id': 4, 'plat_id': 4, 'quantite': 2},
    {'commande_id': 4, 'plat_id': 9, 'quantite': 1},
    {'commande_id': 5, 'plat_id': 10, 'quantite': 1},
    {'commande_id': 5, 'plat_id': 8, 'quantite': 2},
    {'commande_id': 6, 'plat_id': 7, 'quantite': 3},
    {'commande_id': 6, 'plat_id': 6, 'quantite': 1},
])

insert_fournisseurs = fournisseurs.insert().values([
    {'id': 1, 'nom': 'AgriFresh', 'contact': 'contact@agrifresh.com'},
    {'id': 2, 'nom': 'MeatSupplier', 'contact': 'info@meatsupplier.com'},
    {'id': 3, 'nom': 'BevCo', 'contact': 'sales@bevco.com'},
    {'id': 4, 'nom': 'DairyFarm', 'contact': 'dairy@farm.com'},
])

insert_ingredients = ingredients.insert().values([
    {'id': 1, 'nom': 'Poulet', 'cout_unitaire': 15.00, 'stock': 50, 'fournisseur_id': 2},
    {'id': 2, 'nom': 'Laitue', 'cout_unitaire': 5.00, 'stock': 20, 'fournisseur_id': 1},
    {'id': 3, 'nom': 'Tomate', 'cout_unitaire': 3.00, 'stock': 30, 'fournisseur_id': 1},
    {'id': 4, 'nom': 'Mozzarella', 'cout_unitaire': 10.00, 'stock': 15, 'fournisseur_id': 4},
    {'id': 5, 'nom': 'Pomme de terre', 'cout_unitaire': 2.00, 'stock': 100, 'fournisseur_id': 1},
    {'id': 6, 'nom': 'Café', 'cout_unitaire': 20.00, 'stock': 5, 'fournisseur_id': 3},
    {'id': 7, 'nom': 'Sucre', 'cout_unitaire': 1.50, 'stock': 25, 'fournisseur_id': 3},
    {'id': 8, 'nom': 'Pois chiches', 'cout_unitaire': 4.00, 'stock': 40, 'fournisseur_id': 1},
])

insert_plat_ingredients = plat_ingredients.insert().values([
    {'plat_id': 1, 'ingredient_id': 1, 'quantite_necessaire': 0.2},
    {'plat_id': 1, 'ingredient_id': 2, 'quantite_necessaire': 0.1},
    {'plat_id': 2, 'ingredient_id': 2, 'quantite_necessaire': 0.05},
    {'plat_id': 2, 'ingredient_id': 5, 'quantite_necessaire': 0.1},
    {'plat_id': 3, 'ingredient_id': 1, 'quantite_necessaire': 0.3},
    {'plat_id': 3, 'ingredient_id': 5, 'quantite_necessaire': 0.2},
    {'plat_id': 4, 'ingredient_id': 3, 'quantite_necessaire': 0.1},
    {'plat_id': 4, 'ingredient_id': 4, 'quantite_necessaire': 0.15},
    {'plat_id': 5, 'ingredient_id': 6, 'quantite_necessaire': 0.05},
    {'plat_id': 5, 'ingredient_id': 7, 'quantite_necessaire': 0.02},
    {'plat_id': 9, 'ingredient_id': 8, 'quantite_necessaire': 0.1},
    {'plat_id': 10, 'ingredient_id': 8, 'quantite_necessaire': 0.15},
])

insert_avis = avis.insert().values([
    {'id': 1, 'client_id': 1, 'plat_id': 1, 'note': 4, 'commentaire': 'Très frais, poulet bien cuit', 'date_avis': '2025-07-07 13:00:00'},
    {'id': 2, 'client_id': 2, 'plat_id': 4, 'note': 5, 'commentaire': 'Meilleure pizza du coin !', 'date_avis': '2025-07-07 14:00:00'},
    {'id': 3, 'client_id': 3, 'plat_id': 9, 'note': 3, 'commentaire': 'Un peu trop épicé', 'date_avis': '2025-08-15 19:00:00'},
    {'id': 4, 'client_id': 4, 'plat_id': 10, 'note': 4, 'commentaire': 'Bon, mais manque de sauce', 'date_avis': '2025-09-01 21:00:00'},
    {'id': 5, 'client_id': 5, 'plat_id': 6, 'note': 5, 'commentaire': 'Glace délicieuse', 'date_avis': '2025-09-10 13:00:00'},
])

Insertion des Données

In [6]:
conn.execute(insert_categories)
conn.execute(insert_plats)
conn.execute(insert_clients)
conn.execute(insert_commandes)
conn.execute(insert_commande_plats)
conn.execute(insert_fournisseurs)
conn.execute(insert_ingredients)
conn.execute(insert_plat_ingredients)
conn.execute(insert_avis)
conn.commit()

Requêtes à réaliser

Lister tous les plats triés par prix décroissant

In [10]:
from sqlalchemy import select

plats_list = select(plats).order_by(plats.c.prix.desc())

result = conn.execute(plats_list)

for row in result :
    print(row)

(3, 'Steak frites', 90.0, 'Viande grillée et frites', 1)
(4, 'Pizza Margherita', 70.0, 'Pizza tomate & mozzarella', 1)
(9, 'Curry de légumes', 65.0, 'Plat végétarien épicé', 1)
(10, 'Falafel wrap', 50.0, 'Wrap avec falafels et légumes', 1)
(1, 'Salade César', 45.0, 'Salade avec poulet grillé', 1)
(5, 'Tiramisu', 35.0, 'Dessert italien', 1)
(2, 'Soupe de légumes', 30.0, 'Soupe chaude de saison', 1)
(6, 'Glace 2 boules', 25.0, 'Glace au choix', 1)
(7, 'Coca-Cola', 15.0, 'Boisson gazeuse', 1)
(8, 'Eau minérale', 10.0, 'Eau plate ou gazeuse', 1)

Lister tous les plats dont le prix est compris entre 30 et 80.

In [13]:
from sqlalchemy import and_ , or_

plats_between_30_80 = select(plats).where( and_( plats.c.prix > 30 , plats.c.prix < 80 ))

result = conn.execute(plats_between_30_80)

for row in result :
    print(row)

(1, 'Salade César', 45.0, 'Salade avec poulet grillé', 1)
(4, 'Pizza Margherita', 70.0, 'Pizza tomate & mozzarella', 1)
(5, 'Tiramisu', 35.0, 'Dessert italien', 1)
(9, 'Curry de légumes', 65.0, 'Plat végétarien épicé', 1)
(10, 'Falafel wrap', 50.0, 'Wrap avec falafels et légumes', 1)

In [17]:

clients_list = select(clients).where( or_(clients.c.nom.like('S%') ,clients.c.nom.like('F%')))

result = conn.execute(clients_list)


for row in result :
    print(row)

(2, 'Sara Benali', 'sara.b@example.com', '+212600654321')
(4, 'Fatima Zahra', 'fatima.z@example.com', '+212600987654')

In [24]:
from sqlalchemy import func 

most_used_ingredient = select(ingredients , func.count().label("nb")).join(plat_ingredients ,plat_ingredients.c.ingredient_id == ingredients.c.id).group_by( ingredients.c.id)
res = conn.execute(most_used_ingredient).scalar()

print(res)
# query = select(plats , categories.c.id , categories.c.nom , fournisseurs.c.nom , fournisseurs.c.id ).join(categories , plats.c.categorie_id == categories.c.id).join(fournisseurs , fournisseurs.c.id == plats.c.fournisseur_id)

# result = conn.execute(query)


# for row in result :
#     print(row)

2

In [36]:
conn.rollback()

In [33]:
query = select(commandes.c.id.label("commande_id"),commandes.c.date_commande  , clients.c.nom.label("client_nom") , func.count(commande_plats.c.plat_id).label("nombre_plats")).join(clients, clients.c.id == commandes.c.client_id).join(commande_plats , commande_plats.c.commande_id == commandes.c.id).group_by(commandes.c.id ,  commandes.c.date_commande, clients.c.nom)

result = conn.execute(query)

for row in result :
    print(row)

(4, datetime.datetime(2025, 8, 15, 18, 30), 'Youssef El Khalfi', 2)
(3, datetime.datetime(2025, 7, 8, 19, 45), 'Amine Lahmidi', 3)
(1, datetime.datetime(2025, 7, 7, 12, 30), 'Amine Lahmidi', 3)
(2, datetime.datetime(2025, 7, 7, 13, 0), 'Sara Benali', 3)
(6, datetime.datetime(2025, 9, 10, 12, 15), 'Omar Alaoui', 2)
(5, datetime.datetime(2025, 9, 1, 20, 0), 'Fatima Zahra', 2)

In [38]:
query = (
        select(
               commandes.c.id.label("commande_id") , 
               plats.c.nom.label("plat_nom") ,
                commande_plats.c.quantite , 
                (func.sum(plat_ingredients.c.quantite_necessaire * ingredients.c.cout_unitaire * commande_plats.c.quantite))
                .label("cout_total_ingredients")
                )
        .join(commande_plats , commande_plats.c.commande_id == commandes.c.id)
        .join( plats , plats.c.id == commande_plats.c.plat_id)
        .join(plat_ingredients , plat_ingredients.c.plat_id == plats.c.id)
        .join(ingredients , ingredients.c.id == plat_ingredients.c.ingredient_id)
        .group_by(commandes.c.id , plats.c.nom , commande_plats.c.quantite)
        )

result = conn.execute(query)

for row in result :
    print(row)

(5, 'Falafel wrap', 1, 0.6)
(4, 'Pizza Margherita', 2, 3.6)
(2, 'Pizza Margherita', 1, 1.8)
(3, 'Steak frites', 1, 4.9)
(4, 'Curry de légumes', 1, 0.4)
(2, 'Soupe de légumes', 1, 0.45)
(1, 'Steak frites', 1, 4.9)
(1, 'Salade César', 1, 3.5)
(3, 'Tiramisu', 1, 1.03)

In [ ]:
query =( 
        select(categories.c.id ,categories.c.nom , func.count(plats.c.id).label("nombre_plats") )
        .join(plats , plats.c.categorie_id == categories.c.id ,  isouter=True)
        .group_by(categories.c.id , categories.c.nom)
        )

result = conn.execute(query)

for row in result :
    print(row)

(2, 'Plat principal', 0)
(3, 'Dessert', 0)
(5, 'Végétarien', 0)
(4, 'Boisson', 0)
(1, 'Entrée', 10)

In [43]:
query1 =( 
        select(categories.c.id ,categories.c.nom , 
               func.avg(plats.c.prix).label("prix_moyen") )
        .join(plats , plats.c.categorie_id == categories.c.id ,  isouter=True)
        .group_by(categories.c.id , categories.c.nom)
        )

result = conn.execute(query1)

for row in result :
    print(row)

print("\n _________________________________________________________________________________________________________________________________ \n")
query2 = (
    select(plats.c.nom , plats.c.id , 
           func.avg(ingredients.c.cout_unitaire*plat_ingredients.c.quantite_necessaire))
           .join(plat_ingredients , plat_ingredients.c.plat_id == plats.c.id)
           .join(ingredients , ingredients.c.id == plat_ingredients.c.ingredient_id)
           .group_by(plats.c.nom , plats.c.id , )

)

result = conn.execute(query2)

for row in result :
    print(row)

(2, 'Plat principal', None)
(3, 'Dessert', None)
(5, 'Végétarien', None)
(4, 'Boisson', None)
(1, 'Entrée', 43.5)

 _________________________________________________________________________________________________________________________________

('Pizza Margherita', 4, 0.9)
('Falafel wrap', 10, 0.6)
('Soupe de légumes', 2, 0.225)
('Curry de légumes', 9, 0.4)
('Steak frites', 3, 2.45)
('Tiramisu', 5, 0.515)
('Salade César', 1, 1.75)

In [45]:
from sqlalchemy import desc


query = (
      select(clients.c.id , clients.c.nom , 
             func.count(commandes.c.id).label("nombre_commandes") )
       .join(commandes , commandes.c.client_id == clients.c.id)
       .group_by(clients.c.id , clients.c.nom)
       .order_by(desc("nombre_commandes"))
)

result = conn.execute(query)

for row in result :
    print(row)

(1, 'Amine Lahmidi', 2)
(4, 'Fatima Zahra', 1)
(2, 'Sara Benali', 1)
(3, 'Youssef El Khalfi', 1)
(5, 'Omar Alaoui', 1)

In [ ]:

query = (
      select(clients.c.id , clients.c.nom , 
             func.count(commandes.c.id).label("nombre_commandes") )
       .join(commandes , commandes.c.client_id == clients.c.id)
       .group_by(clients.c.id , clients.c.nom)
       .hav
)

result = conn.execute(query)

for row in result :
    print(row)